
*{
  font-family: 'Inter';
}

body {
  margin: 0;
  font-family: 'Inter',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  padding: 20px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar>span{
  margin-left: 20px;
}

.navbar>div{
  float: right;
  margin-right: 20px;
}


.navbar>div>button{
  background-color: rgb(252, 130, 0);
  color: white;
  margin-right: 20px;
  border-color: rgb(252, 130, 0);
  width: 200px;
  font-weight: 600;
}

.welcome .primary{
  background-color: rgb(2,48,71);
  border-color: rgb(2,48,71);
}

.navbar .primary{
  background-color: rgb(2,48,71);
  border-color: rgb(2,48,71);
}

.ant-col-16{
  background-color: rgb(2,48,71);
}

.ant-col-16 img{
  position: relative;
  /* width: auto; */
  width: 80%;
  height: 100%;
  margin-left: 50px;
}

.ant-col{
  height: 94vh;
}

.welcome input{
  margin-bottom: 15px;
  padding: 10px 10px;
  width: 80%;
}

.welcome{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: rgb(2,48,71);
}

.welcome h1{
  font-weight: 700;
  margin-bottom: 0;
}

.welcome p{
  font-weight: 600;
}

.welcome button{
  width: 80%;
  margin-bottom: 15px;
  padding: 10px 10px;
  height: 50px;
}

.hide{
  visibility: hidden;
  display: none;
}
.forgot{
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width:920px){
  .welcome input,.welcome button{
    width: 90%;
  }
  .forgot{
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (max-width:820px){
  .navbar button{
    display: none;
  }
  .rowGrid{
    display: none;
    height: 0;
    visibility: collapse;
  } 
  .hide{
    visibility: visible;
    display: block;
  }
}